.main-content {
  flex: 1;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #242424;
}

p{
  color: rgba(255, 255, 255, 0.87);
}